<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearoneCameraControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ClearoneCameraControl.Properties.Settings>
            <setting name="CameraDnsName" serializeAs="String">
                <value>asmc-camera</value>
            </setting>
            <setting name="Preset1Name" serializeAs="String">
                <value>1 - Pulpit</value>
            </setting>
            <setting name="Preset2Name" serializeAs="String">
                <value>2 - Singing</value>
            </setting>
            <setting name="Preset3Name" serializeAs="String">
                <value>3 - Overview</value>
            </setting>
            <setting name="Preset4Name" serializeAs="String">
                <value />
            </setting>
        </ClearoneCameraControl.Properties.Settings>
    </userSettings>
</configuration>